.full-width {
    width: 100%
}


#container,
#container > section {
    margin: 0;
    width: 100%;
    height: 100%;
}

.site-layout-background {
    background: #fff;
}

.infinite-container {
    border: 1px solid #e8e8e8;
    border-radius: 4px;
    overflow: auto;
    padding: 8px 24px;
    height: 300px;
}

.loading-container {
    position: absolute;
    bottom: 40px;
    width: 100%;
    text-align: center;
}
